@import 'reset';
@import 'grid';
@import 'mixins';
@import 'variables';
@import 'ui';

* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
    @include transition(0.4s, ease-in-out);
}

body {
    font-family: 'Gotham', sans-serif;
    color: $medium-gray;
    line-height: 1.5;
    background: url('') 50% 0 repeat fixed;
}

p {
    margin-bottom: 15px;
}

.mega-h2 {
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 0;
    margin: 1.4em 0 -1em 0;
    text-align: center;
}

.row-title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 25px 0 50px 0;
}

.header {
    height: 120px;
    margin-top: 20px;
    .main-logo {
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        margin-left: -500px;
    }
    .nav {
        max-width: 900px;
        width: auto;
        float: right;
        list-style: none;
        margin: 2.2em 5% 0 0;
        z-index: 1;
        li {
            display: inline-block;
            a {
                display: block;
                color: white;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1em;
                padding: 0.5em 0.8em;
                &:hover {
                    background-color: rgba(255,255,255,.3);
                }
                &.current {
                    background-color: rgba(255,255,255,.3);
                }
            }
        }
        &.f-nav {
            position: fixed;
            top: 0;
            left: 0;
            background-color: $primary-color;
            margin: 0;
            max-width: 100%;
            text-align: center;
            width: 100%;
            z-index: 1;
            -webkit-transform: translateZ(0);
        }
    }
    .nav-res-btn {
        display: none;
        color: white;
        background-color: $primary-color;
        position: fixed;
        top: 15px;
        right: 0;
        padding: 1em;
        z-index: 9999;
        cursor: pointer;
        &:hover {
            opacity: .6;
        }
    }
    .nav-res {
        display: none;
        list-style: none;
        position: fixed;
        top: 80px;
        text-align: right;
        width: 100%;
        margin-bottom: 30px;
        clear: right;
        z-index: 9999;
        li {
            a {
                width: 100%;
                padding: 0.6em;
                border-bottom: 1px solid $medium-gray;
                color: $medium-gray;
                display: block;
                background-color: $light-gray;
                &:hover {
                    color: white;
                    background-color: $primary-color;
                }
            }
        }
    }
}

.home {
    text-align: center;
    max-height: 650px;
    padding: 6% 0 16% 0;
    h1 {
        text-indent: -1000em;
        max-width: 500px;
        width: 100%;
        height: 455px;
        background-image: url('');
        background-repeat: no-repeat;;
        background-size: 100%;
        margin: 0 auto;
        &:hover {
            @include scale-3d(1.1);
        }
        img {
            display: none;
        }
    }
    h2 {
        font-size: 1.4em;
        font-weight: lighter;
    }
    .btn {
        margin-top: 20px;
    }
}

.premios {
    .premios-list {
        .col-1of3 {
            margin-top: 30px;
            padding: 2%;
            text-align: center;
            min-height: 675px;
            ul {
                li {
                    padding: 20px;
                    margin: 10px 0;
                    font-size: 0.9em;
                    background-color: darken(white, 3%);
                }
            }
            &.oro {
                background-color: $light-gray;
                h3 {
                    @include ribbon(30px, 15px, $primary-color, $light-gray);
                    color: white;
                }
            }
            &.plata {
                background-color: $light-gray;
                h3 {
                    @include ribbon(30px, 15px, lighten($medium-gray, 15%), $light-gray);
                    color: white;
                }
            }
            &.bronce {
                background-color: $light-gray;
                h3 {
                    @include ribbon(30px, 15px, darken($primary-color, 15%), $light-gray);
                    color: white;
                }
            }
            &.videoblog {
                background-color: $light-gray;
                min-height: 590px;
                h3 {
                    @include ribbon(30px, 15px, $google, $light-gray);
                    color: white;
                    font-size: 1em;
                }
            }
            &.diseno {
                background-color: $light-gray;
                min-height: 590px;
                h3 {
                    @include ribbon(30px, 15px, $twitter, $light-gray);
                    color: white;
                    font-size: 1em;
                }
            }
            &.femenina {
                background-color: $light-gray;
                min-height: 590px;
                h3 {
                    @include ribbon(30px, 15px, $flickr, $light-gray);
                    color: white;
                    font-size: 1em;
                }
            }
        }
        .col-1of2 {
            min-height: 330px;
        }
    }
}

.about-us {
    margin-top: 30px;
    img {
        width: 22%;
    }
    .about-us-text {
        width: 70%;
    }
}

.patrocina {
    background-color: white;
    padding: 8px;
    text-align: center;
    min-height: 64px;
    margin-top: 35px;
    margin-bottom: 25px;
    p {
        font-size: 0.8em;
        margin: 0;
        img {
            max-width: 140px;
            vertical-align: middle;
            margin-left: 2px;
        }
    }
}

#concurso, #premios {
    text-align: justify;
}

.content {
    padding: 80px 0;
}

// USE WITH WAYPOINTS.JS
.img-hide, .col-1of3 {
    opacity: 0;
}

.footer {
    font-size: 0.8em;
    padding: 2%;
    text-align: center;
    color: white;
}

// VIDEO BACKGROUND
video#bgvideo {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
}

.overlay {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../images/smalldots.png');
    background-repeat: repeat;
    z-index: -1;
}

// RESPONSIVE
@media screen and (max-width: 1480px) {
    .header {
        .main-logo {
            margin-left: -750px;
        }
        .nav {
            margin-right: 2%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .nav {
            font-size: 0.8em;
        }
    }
}

@media screen and (max-width: 1050px) {
    // BG VIDEO
    video#bgvideo, .overlay {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header {
        .main-logo {
            margin-left: -300px;
        }
        .nav {
            display: none;
        }
        .nav-res-btn {
            display: block;
        }
    }
    .menus {
        .menu-item { float: left; }
    }
    .premios {
        .premios-list {
            .col-1of3 { min-height: 100% !important; }
        }
    }
    .about-us {
        img {
            width: 100%;
        }
        .about-us-text {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .main-logo {
            margin-left: -200px;
        }
    }
    .menus {
        .menu-item { float: none; }
    }
}
