html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    elhombretecla @2014:
    Choose a grid width, the number of columns and the margin between columns.
    The result of the following equation has to be an integer, not a fraction:

    (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.col-1of2 {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.col-1of3 {
  float: left;
  width: 32%;
  margin-right: 2%;
}

.col-1of4 {
  float: left;
  width: 23.5%;
  margin-right: 2%;
}

@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-light.eot");
  src: url("../fonts/gotham-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light.woff") format("woff"), url("../fonts/gotham-light.ttf") format("truetype"), url("../fonts/gotham-light.svg#gotham_light_ultraregular") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book.woff") format("woff"), url("../fonts/gotham-book.ttf") format("truetype"), url("../fonts/gotham-book.svg#gotham_book_ultraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg#gotham_medium_ultraregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg#gotham_bold_ultraregular") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-ultra-webfont.eot");
  src: url("../fonts/gotham-ultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-ultra-webfont.woff") format("woff"), url("../fonts/gotham-ultra-webfont.ttf") format("truetype"), url("../fonts/gotham-ultra-webfont.svg#gotham_htf_ultraregular") format("svg");
  font-weight: bold;
  font-style: normal;
}
strong {
  font-weight: 500;
}

::selection {
  background: #2a9a9e;
  text-shadow: none;
}

::-moz-selection {
  background: #2a9a9e;
  text-shadow: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #474747;
}
a:hover {
  text-decoration: none;
  color: #2a9a9e;
}

.row {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
}
.row .row-inside {
  max-width: 1200px;
  width: 100%;
  display: table;
  margin: 0 auto;
}
.row .row-center {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.last {
  margin-right: 0 !important;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 12px;
}

.title-inside-big, .title-inside-small {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 100%;
  padding: 1.6% 3%;
}
.title-inside-big a, .title-inside-small a {
  color: white;
}
.title-inside-big a:hover, .title-inside-small a:hover {
  color: #2a9a9e;
}

.title-inside-small {
  font-size: 1.4em;
  font-weight: 200;
  text-transform: none;
}

.btn {
  display: inline-block;
  position: relative;
  user-select: none;
  padding: 15px 20px;
  margin: 6px 0 6px 0;
  font-family: 'gotham', sans-serif;
  color: #474747;
  text-align: center;
  background-color: white;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  border-bottom: 4px solid #d2d2d2;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn:hover {
  border-bottom: 1px solid #d2d2d2;
  -webkit-transform: translate(0px, 4px);
  -moz-transform: translate(0px, 4px);
  -o-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
  margin: 5px 0 10px 0;
  color: #474747;
}
.btn.btn-mini {
  padding: 10px 14px;
  font-size: 1em;
}
.btn.btn-gray {
  background-color: #efefef;
  border-bottom: 4px solid #d2d2d2;
  color: #474747;
}
.btn.btn-gray:hover {
  border-bottom: 1px solid #d2d2d2;
}
.btn.btn-yellow {
  background-color: #2a9a9e;
  color: white;
  border-bottom: 4px solid #248286;
}
.btn.btn-yellow:hover {
  border-bottom: 1px solid #248286;
}
.btn.btn-red {
  background-color: #d05866;
  color: white;
  border-bottom: 4px solid #ab303f;
}
.btn.btn-red:hover {
  border-bottom: 1px solid #ab303f;
}
.btn.btn-green {
  background-color: #b0d058;
  color: white;
  border-bottom: 4px solid #8aab30;
}
.btn.btn-green:hover {
  border-bottom: 1px solid #8aab30;
}
.btn.btn-blue {
  background-color: #8bc4de;
  color: white;
  border-bottom: 4px solid #4fa6cd;
}
.btn.btn-blue:hover {
  border-bottom: 1px solid #4fa6cd;
}

.share-bar {
  display: block;
  width: 100%;
  margin-top: 40px;
}
.share-bar a {
  color: white;
  display: inline-block;
  padding: 10px 12px;
  font-size: 1.5em;
  line-height: 1;
}
.share-bar a.facebook {
  background-color: #3b5998;
}
.share-bar a.twitter {
  background-color: #00aced;
}
.share-bar a.googleplus {
  background-color: #dd4b39;
}
.share-bar a.pinterest {
  background-color: #cb2027;
}
.share-bar a.instagram {
  background-color: #517fa4;
}
.share-bar a.linkedin {
  background-color: #007bb6;
}
.share-bar a.youtube {
  background-color: #bb0000;
}
.share-bar a.vimeo {
  background-color: #aad450;
}
.share-bar a.mail, .share-bar a.print {
  background-color: #7c7c7c;
}
.share-bar a.like {
  background-color: #474747;
}
.share-bar a:hover {
  background-color: #2a9a9e;
}
.share-bar a.text {
  font-size: 0.8em;
  color: #7c7c7c;
}
.share-bar a.text:hover {
  background-color: transparent;
}

.msg {
  display: none;
  /* remove for view message */
  position: fixed;
  top: 0;
  padding: 15px 20px;
  margin: 0;
  width: 100%;
  font-family: 'gotham', sans-serif;
  color: #474747;
  text-align: center;
  background-color: white;
  font-size: 1em;
  border-bottom: 4px solid #d2d2d2;
  z-index: 999;
}
.msg h3, .msg p {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.msg i {
  float: right;
  font-size: 1.4em;
  cursor: pointer;
}
.msg i:hover {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.msg.msg-gray {
  color: #474747;
  background-color: white;
  border-bottom: 4px solid #d2d2d2;
}
.msg.msg-red {
  color: white;
  background-color: #d05866;
  border-bottom: 4px solid #ab303f;
}
.msg.msg-green {
  color: white;
  background-color: #b0d058;
  border-bottom: 4px solid #8aab30;
}
.msg.msg-blue {
  color: white;
  background-color: #8bc4de;
  border-bottom: 4px solid #4fa6cd;
}
.msg.msg-yellow {
  color: white;
  background-color: #2a9a9e;
  border-bottom: 4px solid #1a5f62;
}

.bg-lightgray {
  background-color: #efefef;
}

.bg-mediumgray {
  background-color: #7c7c7c;
}

.bg-darkgray {
  background-color: #212121;
  background-image: url("../images/bg-drops2.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
  background-image: url("../images/bg-drops1.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-primary-color {
  background-color: #2a9a9e;
}

.title-darkgray {
  color: #474747;
}

.title-yellow {
  color: #2a9a9e;
}

.title-white {
  color: white;
}

.dashed {
  border-top: 5px solid #2a9a9e;
}

.translate-3d-menu {
  -webkit-transform: translate3d(-70%, 0, 0);
  -moz-transform: translate3d(-70%, 0, 0);
  -o-transform: translate3d(-70%, 0, 0);
  -ms-transform: translate3d(-70%, 0, 0);
  transform: translate3d(-70%, 0, 0);
}

@media screen and (max-width: 900px) {
  .row .row-inside {
    padding: 1.5em;
    text-align: justify;
  }

  .left {
    width: 100%;
    float: none;
  }

  .right {
    float: none;
  }

  .col-1of2, .col-1of3 {
    width: 100%;
    float: none;
  }

  .msg i {
    float: none;
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  .col-1of4 {
    width: 100%;
    float: none;
  }

  .title-inside-big, .title-inside-small {
    font-size: 1.8em;
  }

  .title-inside-small {
    font-size: 1em;
  }

  .btn {
    width: 90%;
  }

  .share-bar a {
    padding: 6px 8px;
  }
}
@media screen and (max-width: 320px) {
  .share-bar a {
    padding: 5px 7px;
    font-size: 1.4em;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body {
  font-family: 'Gotham', sans-serif;
  color: #efefef;
  line-height: 1.5;
  background: url("../images/bg-res.jpg") 50% 0 repeat fixed;
  background-position: center top;
}

p {
  margin-bottom: 15px;
}

.mega-h2 {
  display: inline-block;
  font-size: 4em;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 0;
  margin: 1.4em 0 -1em 0;
  text-align: center;
}

.row-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 25px 0 50px 0;
}

.header {
  height: 120px;
  margin-top: 20px;
}
.header .nav {
  font-family: 'Cabin Sketch', cursive;
  max-width: 1200px;
  width: 100%;
  list-style: none;
  margin: 2.2em auto;
  z-index: 1;
  text-align: center;
}
.header .nav li {
  display: inline-block;
}
.header .nav li.main-logo {
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
}
.header .nav li.main-logo img {
  display: none;
}
.header .nav li a {
  vertical-align: middle;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
}
.header .nav li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header .nav li a.current {
  background-color: rgba(255, 255, 255, 0.3);
}
.header .nav.f-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a9a9e;
  margin: 0;
  max-width: 100%;
  text-align: center;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateZ(0);
}
.header .nav.f-nav li.main-logo {
  margin-top: -15px;
  max-width: 150px;
}
.header .nav-res-btn {
  display: none;
  color: white;
  background-color: #2a9a9e;
  position: fixed;
  top: 15px;
  right: 0;
  padding: 1em;
  z-index: 9999;
  cursor: pointer;
}
.header .nav-res-btn:hover {
  opacity: .6;
}
.header .nav-res {
  font-family: 'Cabin Sketch', cursive;
  display: none;
  list-style: none;
  position: fixed;
  top: 80px;
  text-align: right;
  width: 100%;
  margin-bottom: 30px;
  clear: right;
  z-index: 9999;
}
.header .nav-res li a {
  width: 100%;
  padding: 0.6em;
  border-bottom: 1px solid black;
  color: white;
  display: block;
  background-color: #2a9a9e;
}
.header .nav-res li a:hover {
  color: white;
  background-color: black;
}

.home {
  text-align: center;
  max-height: 650px;
  padding: 10% 0;
}
.home h1 {
  max-width: 500px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.home h1:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.home h2 {
  font-size: 1.4em;
  font-weight: lighter;
}
.home .btn {
  margin-top: 20px;
}

.premios .premios-list .col-1of3 {
  margin-top: 30px;
  padding: 2%;
  text-align: center;
  min-height: 675px;
}
.premios .premios-list .col-1of3 ul li {
  padding: 20px;
  margin: 10px 0;
  font-size: 0.9em;
  background-color: #f7f7f7;
}
.premios .premios-list .col-1of3.oro {
  background-color: #efefef;
}
.premios .premios-list .col-1of3.oro h3 {
  background-color: #2a9a9e;
  border-top: 30px solid #2a9a9e;
  border-bottom: 30px solid #2a9a9e;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
}
.premios .premios-list .col-1of3.plata {
  background-color: #efefef;
}
.premios .premios-list .col-1of3.plata h3 {
  background-color: #a2a2a2;
  border-top: 30px solid #a2a2a2;
  border-bottom: 30px solid #a2a2a2;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
}
.premios .premios-list .col-1of3.bronce {
  background-color: #efefef;
}
.premios .premios-list .col-1of3.bronce h3 {
  background-color: #1a5f62;
  border-top: 30px solid #1a5f62;
  border-bottom: 30px solid #1a5f62;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
}
.premios .premios-list .col-1of3.videoblog {
  background-color: #efefef;
  min-height: 590px;
}
.premios .premios-list .col-1of3.videoblog h3 {
  background-color: #dd4b39;
  border-top: 30px solid #dd4b39;
  border-bottom: 30px solid #dd4b39;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
  font-size: 1em;
}
.premios .premios-list .col-1of3.diseno {
  background-color: #efefef;
  min-height: 590px;
}
.premios .premios-list .col-1of3.diseno h3 {
  background-color: #00aced;
  border-top: 30px solid #00aced;
  border-bottom: 30px solid #00aced;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
  font-size: 1em;
}
.premios .premios-list .col-1of3.femenina {
  background-color: #efefef;
  min-height: 590px;
}
.premios .premios-list .col-1of3.femenina h3 {
  background-color: #ff0084;
  border-top: 30px solid #ff0084;
  border-bottom: 30px solid #ff0084;
  border-left: 15px solid #efefef;
  border-right: 15px solid #efefef;
  line-height: 0;
  color: white;
  font-size: 1em;
}
.premios .premios-list .col-1of2 {
  min-height: 330px;
}

.about-us {
  margin-top: 30px;
}
.about-us img {
  width: 22%;
}
.about-us .about-us-text {
  width: 70%;
}
.about-us .member-name {
  color: #2a9a9e;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}

.flexslider {
  margin: 5px 0 0 0 !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#carousel.flexslider img {
  height: auto;
  width: 100% !important;
}

.flex-viewport .slides img {
  height: 600px;
  width: auto !important;
  margin: 0 auto;
}

.flex-direction-nav li a {
  color: white !important;
}

.patrocina {
  background-color: white;
  padding: 8px;
  text-align: center;
  min-height: 64px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.patrocina p {
  font-size: 0.8em;
  margin: 0;
}
.patrocina p img {
  max-width: 140px;
  vertical-align: middle;
  margin-left: 2px;
}

#concurso, #premios {
  text-align: justify;
}

.content {
  padding: 80px 0;
}
.content .event-row {
  width: 75%;
  margin: 0 auto 15px auto;
  border-bottom: solid 5px #2a9a9e;
}
.content .event-row .event-date {
  display: inline-block;
  background-color: #2a9a9e;
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  text-align: center;
  padding: 1.6em 1.2em;
  font-size: 1.2em;
  max-width: 220px;
  width: 100%;
}
.content .event-row .event-content {
  display: inline-block;
}
.content .event-row .event-content .event-title {
  display: inline-block;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
.content .event-row .event-content .event-description {
  color: #2a9a9e;
}
.content .share-btn {
  display: inline-block !important;
  padding: 8px;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  background-color: white;
  border-radius: 50%;
  line-height: 1.3em;
  vertical-align: middle;
}
.content .contact-info {
  text-align: center;
  font-size: 1.2em;
}
.content .contact {
  background-color: #2a9a9e;
  padding: 20px;
}
.content .contact #contact-form p label {
  width: 100%;
}
.content .contact #contact-form p input {
  border: none;
  padding: 8px;
  width: 100%;
  outline: none;
}
.content .contact #contact-form p input:focus {
  border: 2px solid #1a5f62;
}
.content .contact #contact-form p input#id_message {
  min-height: 200px;
}
.content .contact #contact-form p input.form-btn {
  border: none;
  color: white;
  width: 20%;
  font-size: 1.2em;
  background-color: #1a5f62;
  text-align: center;
  cursor: pointer;
}
.content .contact #contact-form p input.form-btn:hover {
  background-color: white;
  color: #2a9a9e;
}

.img-hide, .col-1of3 {
  opacity: 0;
}

.footer {
  font-size: 0.8em;
  padding: 2%;
  text-align: center;
  color: white;
}

.footer-links {
  font-size: 0.7em;
  padding: 0%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

video#bgvideo {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
}

.overlay {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../images/smalldots.png");
  background-repeat: repeat;
  z-index: -1;
}

#contact-form .error {
  color: #d05866;
}
#contact-form .success {
  color: #b0d058;
}

@media screen and (max-width: 1480px) {
  .header .nav {
    margin-right: 2%;
  }
}
@media screen and (max-width: 1200px) {
  .header .nav {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1050px) {
  video#bgvideo, .overlay {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header .nav {
    display: none;
  }
  .header .nav-res-btn {
    display: block;
  }

  .menus .menu-item {
    float: left;
  }

  .premios .premios-list .col-1of3 {
    min-height: 100% !important;
  }

  .about-us img {
    width: 100%;
  }
  .about-us .about-us-text {
    width: 100%;
  }

  .content .event-row {
    text-align: center;
    border: none;
  }
  .content .event-row .event-date {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .menus .menu-item {
    float: none;
  }
}
