{% load i18n solo_tags %}

<!doctype html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="lang" content="es-ES">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="description" content="Sound Caravan">
    <title>Sound Caravan | Rock Band</title>
    <link rel="shortcut icon" href="favicon.ico">

    <meta property="og:title" content="Sound Caravan">
    <meta property="og:description" content="Sound Caravan rock band">
    <meta property="og:url" content="http://soundcaravan.com">
    <meta property="og:image" content="images/image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sound Caravan Rock Band">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@SoundCaravan"/>
    <meta name="twitter:creator" content="@SoundCaravan"/>
    <meta name="twitter:title" content="Sound Caravan" />
    <meta name="twitter:description" content="Sound Caravan" />
    <meta name="twitter:image:src" content="http://soundcaravan.com" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/font-framework/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

    <!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]>
    <link rel="stylesheet" type="text/css" media="all" href="css/style-ie.css" />
    <![endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/features.min.js" type="text/javascript"></script>
    <script src="js/waypoints.min.js" type="text/javascript"></script>

    <!-- Flexslider photo gallery -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <script src="js/jquery.flexslider.js"></script>

    <!-- remove livereload -->
    <script src="http://localhost:35729/livereload.js"></script>

    <!-- WAYPOINTS -->
    <script type="text/javascript">
        jQuery(function($) {
            $('.img-hide').waypoint(function() {
                $(this).toggleClass( 'bounceIn animated' );
            },
            {
                offset: '70%',
                triggerOnce: true
            });
            $('.col-1of3').waypoint(function() {
                $(this).toggleClass( 'fadeInUp animated' );
            },
            {
                offset: '70%',
                triggerOnce: true
            });
        });
    </script>

</head>

<body>

    <div class="row">
        <div class="header">
            <div class="main-logo">
                <a href="http://soundcaravan.com"><img src="images/main-logo.png" alt="Sound Caravan" title="Sound Caravan" border="0"></a>
            </div>
            <ul class="nav">
                <li><a class="smooth" href="#sobre-nosotros">{% trans 'SOBRE NOSOTROS' %}</a></li>
                <li><a class="smooth" href="#tour">{% trans 'TOUR' %}</a></li>
                <li><a class="smooth" href="#fotos">{% trans 'FOTOS' %}</a></li>
                <li><a class="smooth" href="#videos">{% trans 'VIDEOS' %}</a></li>
                <li><a class="smooth" href="#contacto">{% trans 'CONTACTO' %}</a></li>
            </ul>

            <div class="nav-res-btn">MENU</div>

            <ul class="nav-res">
                <li><a class="smooth" href="#sobre-nosotros">{% trans 'SOBRE NOSOTROS' %}</a></li>
                <li><a class="smooth" href="#tour">{% trans 'TOUR' %}</a></li>
                <li><a class="smooth" href="#fotos">{% trans 'FOTOS' %}</a></li>
                <li><a class="smooth" href="#videos">{% trans 'VIDEOS' %}</a></li>
                <li><a class="smooth" href="#contacto">{% trans 'CONTACTO' %}</a></li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="row-inside home">
            <h1>SOUND CARAVAN
                <!-- TODO: Imagen de la Home-->
                <img src="" alt="SOUND CARAVAN">
            </h1>
        </div>
    </div>

    <div class="row bg-lightgray" id="sobre-nosotros">
        <div class="row-inside content">
            <h2 class="row-title">{% trans 'SOBRE NOSOTROS' %}</h2>

            {% get_solo 'sound_caravan_web.AboutUs' as about_us %}
            <div class="row-center" style="margin: 0px 0;">
                <p>{{ about_us.description }}</p>
            </div>

            {% for member in members %}
                <div class="row about-us">
                    <img class="img-hide left" src="{{ member.image.image.url }}" alt="{{ member.name }}">

                    <div style="margin-top: 40px;" class="about-us-text right last">
                        <p><strong>{{ member.name }}</strong> ({{ member.role }})</p>
                        <p>{{ member.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row bg-white" id="tour">
        <div class="row-inside content">
            <h2 class="row-title">{% trans 'TOUR' %}</h2>
            {% get_solo 'sound_caravan_web.Tour' as tour %}
            <img class="img-hide left" src="{{ tour.image.image.url }}" alt="Tour">

            <div class="row-center" style="margin: 40px 0;">
                <p>{{ tour.description }}</p>
            </div>

            {% for event in events %}
                <p><strong>{{ event.event_date }}</strong>: {{ event.title }}. {{ event.description }}</br>
                {{ event.location }}, {{ event.event_hour }}, {{ event.price }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row bg-lightgray" id="fotos">
        <div class="row-inside content">
            <h2 class="row-title">{% trans 'GALERÍA DE FOTOS' %}</h2>

            <!-- Flexslider photo gallery -->
            <div id="slider" class="flexslider">
                <ul class="slides">
                    {% for image in images %}
                        <li>
                            <img src="{{ image.image.url }}" alt="{{ image.title }}" />
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    {% for image in images %}
                        {% if image.image_th %}
                            <li>
                                <img src="{{ image.image_th.url }}" alt="{{ image.title }}" />
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row bg-white premios" id="videos">
        <div class="row-inside content">
            <h2 class="row-title">{% trans 'VIDEOS' %}</h2>
            {% get_solo 'sound_caravan_web.Video' as video %}
            {{ video.video_script|safe }}
        </div>
    </div>

    <div class="row bg-lightgray" id="contacto">
        <div class="row-inside content">
            <h2 class="row-title">{% trans 'CONTACTA CON NOSOTROS' %}</h2>
            {% get_solo 'sound_caravan_web.Contact' as contact %}
            <div class="col-1of2">
                <p>{{ contact.address }}</p>
                <p>{{ contact.email1 }}</p>
                <p>{{ contact.email2 }}</p>
                <p>{{ contact.phone1 }}</p>
                <p>{{ contact.phone2 }}</p>
                <a class="" style="display: table; margin: 6px auto;" href="{{ contact.facebook }}" target="_blank">Facebook</a>
                <a class="" style="display: table; margin: 6px auto;" href="{{ contact.twitter }}" target="_blank">Twitter</a>
                <a class="" style="display: table; margin: 6px auto;" href="{{ contact.myspace }}" target="_blank">MySpace</a>
            </div>
            <div class="col-1of2 last">
                <form id="contact-form">
                    <div class="success">{% trans 'Gracias! hemos recibido tu mensage.' %}</div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'send' %}" />
                </form>
            </div>
        </div>
    </div>

    <div class="row bg-mediumgray">
        <div class="row-inside footer">
            {% blocktrans %}Sound Caravan ©2014 | Creada en la <a href="http://piweek.com" target="_blank">
                <img style="width: auto" src="/static/images/logo-piweek17.png"/></a>
                de <a href="http://kaleidos.net"  target="_blank">
                <img style="width: auto" src="/static/images/logo-kaleidos17.png"/></a>
            {% endblocktrans %}
        </div>
    </div>

    <div class="overlay"></div>
    {% get_solo 'sound_caravan_web.Home' as home %}
    <video id="bgvideo" muted autoplay loop>
        {% if home.video_mp4 %}
            <source src="{{ home.video_mp4.url }}" type="video/mp4"></source>
        {% endif %}
        {% if home.video_webm %}
            <source src="{{ home.video_webm.url }}" type="video/webm"></source>
        {% endif %}
        {% if home.video_ogv %}
            <source src="{{ home.video_ogv.url }}" type="video/ogg"></source>
        {% endif %}
    </video>

</body>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });
        });
    </script>
</html>
